.afterheader {
    padding-top: 74px;
    padding-bottom: 75px;
    background: url(/src/img/form/afterheader.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    z-index: 0;
    top: -59px;
    position: relative;

    @media (max-width: $tablet-width) {
       top: -50px;  
       padding-top: 60px;
       padding-bottom: 50px;
    }

    &__title {
        padding: 15px 30px 10px 30px;
        background-color: $lightest;
        font-size: 36px;
        text-transform: uppercase;
        display: inline-block;
    }
}

.breadcrumb {
    color: $lightest;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    cursor: pointer;
    padding-bottom: 65px;

    @media (max-width: $tablet-width) {
         padding-bottom: 20px;
    }
}

.not__active {
    text-decoration: underline;
}