.header {

    &__logo {
        position: absolute;
        width: 236px;
        height: 114px;
        top: -28px;

        @media (max-width: $tablet-width) {
            left: 0;
            width: 210px;
            height: 94px;
            top: -22px;
        } 
        
    }

    &__top {
        padding-top: 40px;
        padding-bottom: 20px;
        display: flex;
        position: relative;
        align-items: center;

        @media (max-width: $tablet-width) {
            padding-top: 17px;
            padding-bottom: 16px;
        }

        &-wrapper {
            background-color: $primary;
        }

        &-list {
            display: flex;
            align-items: center;
            flex-direction: row;
            column-gap: 41px;
            margin-left: 268px;

            @media (max-width: $tablet-width) {
                margin-left: 240px;
            } 
        }

        &-item{
            display: flex;
            align-items: center;
            flex-direction: row;
            column-gap: 10px;
            font-size: 12px;

            @media (max-width: $tablet-width) {
                font-size: 10px;
            } 
        }

        &-link {
            color: $lightest;
        }

    }

    &__bot {
        padding-top: 5px;
        padding-bottom: 6px;
        display: flex;
        align-items: center;
        background: $lightest;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto ;
        margin-right: auto;
        max-width: 1170px;

        @media (max-width: $tablet-width) {
            max-width: 944px;
            
        } 

        position: relative;
        z-index: 2;

        &-link {
            font-size: 14px;
            font-weight: bold;
            color: $darkest;

            @media (max-width: $tablet-width) {
                font-size: 12px;
            } 
        }

        &-list {
            display: flex;
            align-items: center;
            flex-direction: row;
            column-gap: 26px;
            padding-right: 12px;
            margin-left: 268px;

            @media (max-width: $tablet-width) {
                margin-left: 240px;
                column-gap: 10px;
            } 
           }

        &-svg {
            margin-left: 40px;

            @media (max-width: $tablet-width) {
                margin-left: 10px;
            } 
        }

        &-tel {
            color: $darkest;
            font-size: 15px;
            padding-left: 10px;

            @media (max-width: $tablet-width) {
                padding-left: 5px;
                font-size: 12px;
            } 
          
        }

        &-wrapper {
            background-color: #f8f8f8;
        }
    }
    
    &__button {
        border: none;
        font-size: 11px;

        @media (max-width: $tablet-width) {
            font-size: 10px;
        } 



        &-left {
            padding: 11px 15px;
            max-width: 206px;
            margin-right: 6px;
            background-color: #ededed;

            @media (max-width: $tablet-width) {
               padding: 8px 10px;
               max-width: 170px;
            }
        }

        &-right {
            padding: 11px 17px;
            max-width: 157px;
            background-color: #cc2f38;
            color: $lightest;

            
            @media (max-width: $tablet-width) {
               padding: 8px 10px;
               max-width: 140px;     
            }
        }
    }
}

.header__button:hover {
    filter: brightness(90%);
}

.header__button:focus {
    filter: brightness(90%);
}

.header__button:active {
    filter: brightness(80%);
}
